.calculator {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    color: red;
    background-color: rgba(0, 132, 255, 0.322);
}

button {
    width: 45px;
    height: 45px;
    font-size: 18px;
    margin: 5px;
    color: red;
    background-color: aqua;
}